.col-md-12.pano-c {
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
#pano{
	height: 70vh;
}
.tile{
	margin: 0;
	float: left;
	background-color: #EEE;
	line-height: 100px;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
	padding: 10px;
	max-height: 138px;
	width: 138px;
}
.tiles-scroll-container{
	padding: 0;
	height: 16vh;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 100%;
}

.tile div{
	line-height: 16px;
	font-size: 16px;
	font-weight: normal;
}

.tile span{
	font-size: 46px;
}


.video-player{
	display: none;
}

.container {
	padding: 0;
}